body{width: 100%; overflow: hidden;}
.error_content{ margin-top:5%; margin-left: 23%; width: 100%; height: 100%;position: relative;}
.error_left{ margin: 120px 0 0 0px; width: 330px ; height: 345px; background: url(https://i.loli.net/2018/10/29/5bd6bcccb5a4e.png) no-repeat;     background-size: 100%;float: left;}
.error_right{ width: 450px; height: 590px;  float: left; }
.error_detail { margin: 180px 0 0 130px;     width: 500px; height: auto; }
.error_detail .error_p_title{ font-size: 34px; color: #eb8531;}
.error_detail .error_p_con{ font-size:22px; margin-top: 10px; line-height: 50px;}
.sp_con{ margin-left: 128px; color:#1A4EC0;margin-top: 39px;position: absolute;font-size: 20px; }
.btn_error { margin: 120px 0 0 0px;}
.btn_error a{  padding: 15px 20px;}
.btn_back1{background: dodgerblue; color: #ffffff;}
.btn_back2{ margin-left:25px;background: #CCCCCC;}
.btn {
    width: 120px;
    height: 38px;
    cursor: pointer;
    color: #FF813B;
    float: right;
    margin-top: 1px;
    border-left: solid 1px #FF813B;
    font-size: 30px;
    background: no-repeat;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* add */
body {font-size:18px;font-family: arial,SimHei,"黑体";color:#333;}
img{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
select,input{vertical-align:middle;padding:0;}
.clear { display:block !important; clear:both !important; float:none !important; margin:0 !important; padding:0 !important; height:0; line-height:0; font-size:0; overflow:hidden;}
.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; height:0; }
.spacer{clear:both; font-size:0; height:0; line-height:0;}
a{ text-decoration:none;cursor: pointer;outline:none;}

i,em{font-style: normal;}

@media only screen and (min-width: 100px) and (max-width: 900px) {
		body{width: 100%; overflow: hidden;height: 100%;}
		.error_left{display: none;}
		.error_detail{margin: 70px 0px 0px 0px;width: 100%;overflow: hidden;}
		.error_detail .error_p_title{font-size: 26px;width: 100%;overflow: hidden;}
		.error_detail .error_p_con{font-size: 14px;margin-top: 0px;width: 90%;overflow: hidden;}
		.error_right{position: absolute;left: -20%;width: 100%;overflow: hidden;margin: 0;padding: 0;height: 500px;}
		.btn_error a{padding: 15px;}
}